[2021-06-09 08:38] matentzn opened #14 "Make a small lesson on working on a Unix vs Windows system"
During the first teaching of this course, it became clear that it really does make a big difference for people entering the area of Semantic Engineering whether they are on Windows or a Unix type system.. We should provide an overview of the major differences and explain how we mitigate them. Lets use this ticket to collect relevant differences.

[2021-06-09 08:40] matentzn commented on #14
- how to install protege and protege plugins
- How file paths work and how encode paths as part of reproducible pipelines

[2021-06-09 11:11] matentzn opened #15 "Consider The RDCA-DAP: the data interrogator Use case for some examples"
- Integrating a lot of data source such as
  - Clinical trial data
  - Registry data
  - Upcoming:
    - EHR
    - Genomics data
- "implementing ontologies"
- easy cleaning and formatting
Amanda Borens was showing this:
- records are tagged
- What are all the different options for "dosage field"
- access to metadata from the get go: making them FAIR
- Metadata catalog <- showed the search. Direct

[2021-06-09 11:14] matentzn opened #16 "Shall we move all instructions on "How to Set Up X" to a single place?"
Things like:

How to set up docker/odk
How to install ROBOT
How to install Protege with ELK 0.5

are useful in their own rights, and IMO should be added in a single place, rather than scattered around the course units. Is there any objection to this? @beckyjackson @jamesaoverton @nicolevasilevsky

[2021-06-09 12:38] jamesaoverton commented on #15
These are notes from a seminar?

[2021-06-09 12:43] matentzn commented on #15
yea

[2021-06-09 17:38] matentzn opened #18 "Add comments on makefile tutorial"
Especially that a makefile is literally a file called `Makefile`

[2021-06-09 20:59] nicolevasilevsky commented on #16
no objections!

[2021-06-11 22:23] cmungall opened #20 "Add section on annotation"
This guide is really fantastic

I propose additional sections of usage of ontologies, in particular

 1. NLP/NER. This could include material on how lexical info is captured in ontologies. Can take some from here https://github.com/obophenotype/uberon/wiki/Using-uberon-for-text-mining
 2. biological annotations
     - where do they come from?
          - literature curation (looks like there is a

[2021-06-23 18:44] matentzn opened #21 "Streamline the messaging around mappings and duplicate terms across ontologies"
There is a bit of a controversy around the messaging of mapping vs ontology convergence in the later parts of the course - we need to hammer the OBO message of _not_ creating new terms when terms already exist at the same time as explaining why mappings are still needed.  The Mondo / DO story is again making that story hard to tell.

[2021-06-23 19:04] matentzn opened #22 "Dedicate more time to template based editing workflows"
I think we should give more space to this; also perhaps to adding a new term to an ontology in the normal way.

@beckyjackson I think that rather than some complex thing going through make+xlsx, why don't we just use cogs to upload the template and download it again?

[2021-06-23 19:07] beckyjackson commented on #22
I actually think COGS would be more complex than doing the make workflow, here's the documentation: https://github.com/obi-ontology/obi#editing-templates-in-excel

I don't think they've seen COGS yet, correct?

[2021-06-23 19:08] matentzn commented on #22
Not for them, I meant more, for future versions of the course.. We could basically add cogs too the basic toolkit right from the start..

[2021-06-23 19:10] beckyjackson commented on #22
Ah, I see! I think if COGS is introduced in the beginning and they get practice using it, I don't see any reason why the workflow shouldn't include that. It would be a good chance for them to combine skills.

[2021-06-23 19:16] matentzn commented on #22
Note to myself. Here is yet another PR where I used ROBOT templates for coordinating the development of terms with domain experts and ontology engineers, and then using cogs+make to merge them:
https://github.com/obophenotype/human-phenotype-ontology/pull/6997

[2021-06-25 09:15] matentzn opened #23 "Incorporate the practical example from the cpath lecture"
https://github.com/cpathtutorial/mapping_course

We have the go from CPATH - include a note in the README for the kind donation.

[2021-07-26 20:51] nicolevasilevsky opened #24 "please review 01_ontologyTermUse.md"
https://github.com/jamesaoverton/obook/blob/master/redesign/01_ontologyTermUse.md

[2021-08-10 16:12] nicolevasilevsky opened #25 "fix link to Elk"
In this file:
https://github.com/jamesaoverton/obook/blob/master/docs/lesson/contributing_to_obo_ontologies.md

The link to install Elk is broken, it should be:
https://github.com/jamesaoverton/obook/blob/master/docs/howto/install_elk_0.5_protege.md

GitHub is not letting me fix it right now

[2021-08-10 18:20] #25 closed

[2021-08-12 15:40] matentzn opened #27 "Lesson: add note on switching ontologies in Protege"
- Documenting the last ID used before switching ontologies
- Screenshot New Entities Tab: remember setting setting: remember last ID across Protege session

[2021-08-12 15:43] meghalithic opened #28 "Lesson: best practice procedure"
Make explicit that best practice is to start the reasoner and look at the inferred ontology when making new terms.

[2021-08-12 15:43] megbalk opened #29 "Lesson request"
A lesson on creating and using patterns.

[2021-08-12 15:46] meghalithic opened #31 "Lesson request: ROBOT"
A lesson for using and editing ROBOT files for creating smaller ontologies / pulling out specific parts of an ontology to import into another ontology.

[2021-08-12 16:41] megbalk opened #32 "Lesson: E-Qs and parent classes"
A lesson on when to use each or both. E.g., terms need explicit parent classes. General terms use E-Qs, specific terms maybe just are children terms?

[2021-08-24 15:14] matentzn opened #33 "Lesson request: ODK and repo structure"

[2021-09-08 10:23] matentzn opened #35 "Add a lesson on how to use RO"

[2021-09-08 10:23] matentzn opened #36 "Add lesson on how to use COB"
For ontology engineers

[2021-09-11 14:15] matentzn opened #38 "Can I get full admin rights to see whats up with the mkdocs builds?"

[2021-09-13 10:00] matentzn commented on #38
As per slack discussion, we can move this repo here:
https://github.com/OBOAcademy

[2021-09-13 13:38] #38 closed

[2021-09-15 14:17] matentzn opened #40 "Contrasting OBO to open biomedical ontologies in general"
For people listening to the tutorial, it may be confusing to understand how OBO relates to the entire space of open biomedical ontologies... We should include a section to clarify how we relate to the rest of the domain, in particular:

- How do we relate to the wider clinical sphere (Mesh, SNOMED, UMLS etc)
- How do we related to the wider bio-ontology sphere (Bioportal minus OBO)

[2021-09-15 14:41] matentzn commented on #40
Answer clearly: "Why are the biomedical or biological ontologies that are NOT in OBO?"

[2021-09-15 14:57] matentzn opened #41 "The contribution workflow is very long for first timers"
I think for people that hear about ontologies for the first time, the whole Identifying new terms section is information overload - at least for a taught tutorial (where people have very little time to build mental models).

https://oboacademy.github.io/obook/lesson/ontology_term_use/#6-identifying-missing-terms

Maybe we should start with the demonstration and then go through that diagram as a su

[2021-09-15 15:02] jamesaoverton commented on #41
+1 In general, I would like to take full advantage of this being an online/hypertext resource. So we can start with a short summary, then link to a longer discussion, and always link to reference materials. Sometimes I like to do it like this: treat each subsection as a slide, start with a point-form summary of the subsection (with links), then full paragraphs (with links) which could also work as

[2021-09-15 16:13] sierra-moxon opened #43 "Add a tutorial for setting up bulk ontology inserts via a spreadsheet of terms following a specific design pattern"
I have a spreadsheet that follows a design pattern (cell part of anatomy pattern).  Can I use robot to do bulk inserts into an ontology (and then make a PR for review out of the result, for example)?

In particular, I have ETL development friends (users) that have a reoccurring pipeline that often makes post-composed terms that should be pre-composed in the Cell Ontology.  They are curious about a

[2021-09-15 16:15] jamesaoverton commented on #43
One good existing resource is <https://github.com/EnvironmentOntology/envo/wiki/ENVO-Robot-template-and-merge-workflow>

[2021-09-17 16:57] rays22 opened #44 "Add a tutorial on Manchester Syntax"
Please, add a tutorial on Manchester Syntax.

[2021-09-17 17:13] jamesaoverton commented on #44
Good suggestion! I'm not aware of any existing tutorials on Manchester that go beyond the basics of simple logical axioms in Protege. If anyone has links, please add them here.

Until then, the best resource I'm aware of is the specification: https://www.w3.org/2007/OWL/wiki/ManchesterSyntax

[2021-09-17 17:13] matentzn commented on #32
Note to self: explain sub-Q vs Q-E vs E-Q

[2021-09-20 11:21] matentzn opened #45 "Add tutorial on how to use OMO"
In particular, what properties are there, how should they be applied to your ontology.

[2021-09-20 14:09] zhengj2007 commented on #45
Here is the document listed the terms in OMO, their definition, expected values
https://docs.google.com/spreadsheets/d/1hY9ABwy-5PQS06h42FFHm6YXyBCZvpfM/edit?usp=sharing&ouid=100840849128868144328&rtpof=true&sd=true

I generated the file for discussion in the OBO committee meetings on how to use these term annotations, such as expected values for the properties, whether required or recommended wit

[2021-09-20 15:16] matentzn commented on #45
Thank you so much @zhengj2007 this will be very helpful to us :)

[2021-09-21 15:13] nicolevasilevsky opened #48 "add tutorial on how to manage path"
also
- [ ] teach students how to create aliases

[2021-09-21 15:28] shawntanzk opened #49 "SPARQL tutorial"
currently SPARQL tutorial is based on https://medium.com/virtuoso-blog/dbpedia-basic-queries-bc1ac172cc09
While it is useful, it is really difficult to take this knowledge to OBO ontologies
Would be really useful to develop a tutorial on how to use SPARQL in OBO ontologies going through examples of what can be done etc.

[2021-09-23 15:39] nicolevasilevsky commented on #27
add a 'how to' guide

[2021-09-27 11:10] matentzn opened #50 "Get some inspiration from GraphAcademy (neo4j)"
https://graphacademy.neo4j.com/

[2021-09-27 15:34] jamesaoverton commented on #50
They have placeholders for some lessons they haven't completed yet, and a link that says "Register interest". That's an interesting idea.

[2021-09-30 22:57] #27 closed

[2021-09-30 22:58] nicolevasilevsky commented on #27
https://github.com/OBOAcademy/obook/blob/master/docs/howto/switching_ontologies.md

[2021-10-11 13:00] shawntanzk opened #52 "RO tutorial"
I'm now trying to add a term into RO and realised it's a bit of a special one cause it works with object properties and all. I'm feeling quite unequipped to deal with things on this end and was wondering if we could have a tutorial that goes through these stuff, maybe including some theoretical stuff.

[2021-10-12 09:32] shawntanzk commented on #52
yeah I think thats what i mean >.< still learning the terminologies used and all tbh, but i guess my thought in RO is things like writing formal definitions (eg has exemplar data -> C has_exemplar_data y iff x is an instance of C and y is data about x that is taken as exemplifying of C.) & where that should go (currently I put it as editors note, with def being more easily readable) - unless there

[2021-10-12 18:07] rays22 opened #53 "Fix incorrect link for 'Install ELK 0.5'"
The incorrect link for [Install ELK 0.5](https://github.com/jamesaoverton/obook/blob/master/docs/howto/install_elk_0.5_protege.md) on page [Contributing to OBO ontologies ](https://github.com/OBOAcademy/obook/blob/master/docs/lesson/contributing_to_obo_ontologies.md)
should be changed to
<https://github.com/OBOAcademy/obook/blob/master/docs/howto/installing_elk_in_protege.md>
.
Line
[code]
should

[2021-10-12 18:44] rays22 commented on #53
@matentzn : I have made a fork of the repo and a [pull request to fix the link.](https://github.com/OBOAcademy/obook/pull/54)
I do not have write access to this repo.

[2021-10-12 18:47] #53 closed, assigned to nobody

[2021-10-21 20:44] cmungall opened #58 "How to contribute?"
should I make edits on gh-pages or main? I'm confused

[2021-10-21 20:46] cmungall commented on #58
ok, i figured it out. The stuff at root level in main is irrelevant and should be deleted? Everything is under /docs and gh-pages is never edited

[2021-10-21 20:51] cmungall opened #60 "semantic engineering toolbox has messed up css"
https://oboacademy.github.io/obook/lesson/reference/semantic_engineering_toolbox

linked from https://oboacademy.github.io/obook/lesson/analysing_linked_data/

[2021-10-21 20:57] cmungall opened #61 "Add tutorial for basic Protege/OWL concepts"
I thought I saw our old GO Protege/OWL tutorial (developed by me @dosumis and @sjupp) amongst the obook materials but maybe I imagined this

There should be some basic guide to core OWL concepts and Protege

The Pizza ontology is pretty good, a while ago I made an "readers guide" to the Pizza tutorial for my group:

https://docs.google.com/document/d/1Na2daM7zeBEhaL7K6aVq-K5bgNOl51MBZM_lO0pNEBQ/ed

[2021-10-21 22:49] cmungall opened #62 "Difference between Term Browser and Ontology Repository?"
https://oboacademy.github.io/obook/reference/semantic_engineering_toolbox/

as two disjoint sections

Where to find terms: Term browsers
Where to find ontologies: Ontology repositories

Why is bioportal in the latter and OLS in the former?

I would merge these section, and then below that have a separate section on OBO all to itself, explaining that OBO is neither a TB nor strictly an OR, it has a

[2021-10-21 22:56] cmungall opened #63 "Glossary is incomplete"
https://github.com/OBOAcademy/obook/blob/master/docs/reference/glossary.md

An OBO-centric glossary of concepts would be incredibly useful.

 - Should we crowd source this a bit more? I tend to think that it should be a few people to stay coherent
 - Will it become hard to maintain, like a large ontology?
 - What should the scope be? Should it for example include all concepts in OWL (restriction,

[2021-10-21 23:01] cmungall commented on #61
I see some great stuff on OWL concepts here

https://oboacademy.github.io/obook/lesson/ontology_design/

I am not sure mondo is the best example for all these due to the fuzzy nature of disease

e.g. the infectious disease disjoint with syndromic diseases. Many will say "aha you are wrong there are syndromic diseases with susceptibility to infection". But we would model these differently by deconf

[2021-10-22 08:00] #58 closed, assigned to nobody

[2021-10-22 08:45] #62 closed, assigned to nobody

[2021-10-22 09:43] matentzn opened #65 "New Tutorial: How do we envision downstream users to use ontologies?"
**Tutorial Request:**

How do we envision people to use OBO ontologies (software developer perspective)?

3 Needs:
- Single format availability (all ontologies should be available in the same format)
- I want to use a library, not write a parsers, that gives me access to the ontology features I need. I program in some ecosystem, i.e. Java, Python and do not want to venture out
- I need to know wha

[2021-10-26 04:34] nicolevasilevsky opened #68 "incorporate a list of all DOSDP based Workflows"
see Chris' [doc](https://docs.google.com/document/d/1KXv-Tm3HvypjucFZeLLPjCdgkof5f0Re5_5GbFfQLWU/edit#heading=h.i814vcicxu55) on Usage workflows for DOSDP templates

Related to: https://oboacademy.github.io/obook/lesson/templates_for_obo/

[2021-12-07 18:16] rays22 opened #75 "Add CL tricks -- filtering text files"
### Tutorial Request:

Add tutorials on useful Command Line tools and tricks.

### Suggested materials
You could add a document or tutorial on how to filter or edit large text files programmatically using command line tools.

### Your nano-attribution (ORCID)

https://orcid.org/0000-0001-8314-2140

[2021-12-15 13:19] dosumis opened #79 "Fix Mondo reasoning example in 'contributing to obo ontologies' tutorial"
The modelling approach suggested in the tutorial [here](https://github.com/OBOAcademy/obook/blob/master/docs/lesson/contributing_to_obo_ontologies.md#add-annotations-and-logical-definition-equivalence-axiom-to)  is wrong.

Tutorial text says:
![image](https://user-images.githubusercontent.com/112839/146181850-2e185fde-77ad-4f90-938f-d2143496f159.png)

But it is _not_ safe to add this subClassOf ax

[2021-12-15 15:55] nicolevasilevsky commented on #79
thanks @dosumis, I will fix this in the tutorial asap

[2021-12-15 15:57] nicolevasilevsky commented on #79
I am just going to delete these improper instructions for now. I'll work on adding a proper example later.

[2021-12-16 01:46] nicolevasilevsky opened #81 "review contributing tutorial, some examples need to updated"
From Bradley:
Of note, I found that some of the exercises in the tutorial asked to complete tasks that were already reflected in the ontology. For example, the synonym 'cork worker's lung' was already added to 'cork-handlers' disease'.

[2021-12-16 15:06] matentzn opened #82 "Improve the getting started page"
Show people what to learn first

[2022-01-01 21:51] ramonawalls opened #83 "Using ODK with DOSDPs"
**Tutorial Request:**

Many ontologies use Dead Simple Ontology Design Patterns (DOSDP) to create terms. ODK has an option to specify that you want to use them (`use_dosdps: true`), but beyond that, it is not clear what to add to your project's YAML file so that it will configure your Makefile appropriately for patterns. For example, I think that the list of patterns should go under `pattern_group

[2022-01-06 16:51] jamesaoverton commented on #83
I assigned this to Nico, since he's the best one to handle it. Unfortunately he's offline until late January so there will be a delay. If someone else wants to tackle this sooner, please do!

[2022-01-07 19:30] dosumis opened #84 "Intro to (OBO) Upper Ontology"
**Tutorial Request:**

This request came out of internal discussion within my group.

We need a module on upper ontology and how it relates to RO relation domain and range for core RO relations.   TBD: balance of BFO vs COB.  For most purposes I think it would be sufficient to cover

occurrent (perhaps just process & developmental stage)
material entity
immaterial entity (?)
quality (characteristi

[2022-01-10 18:34] #81 closed

[2022-01-10 18:56] #79 closed

[2022-01-12 16:22] ddooley opened #88 "Tweak to RENCI SPARQL endpoint URL?"
RENCI Ubergraph Endpoint mentioned in https://oboacademy.github.io/obook/tutorial/sparql/ triggers a download of an rdf file, but maybe the website ubergraph app was intended? If so then https://stars-app.renci.org/ubergraph/sparql should be #sparql anchored https://stars-app.renci.org/ubergraph#sparql  ?

[2022-01-12 17:42] ddooley commented on #88
Turns out this will be deprecated soon.  See https://github.com/INCATools/ubergraph/issues/37

[2022-01-17 10:02] #88 closed

[2022-01-17 10:03] matentzn commented on #88
Thanks @ddooley for the report, changed the link to yasgui instead.

[2022-01-26 12:49] matentzn opened #90 "Tutorial: OWL, OBO, JSON? Base, simple, full, basic? What should you use, and why?"
**Tutorial Request:**

Tutorial on various serialisation and file variants of ontologies: OWL, OBO, JSON? Base, simple, full, basic? What should you use, and why?

**Suggested materials**

**Your nano-attribution (ORCID)**

[2022-01-26 21:00] nicolevasilevsky opened #91 "Video Tutorial: Request an Ontology ID space"
**Tutorial Request:**

A brief description of what you would like to be taught.
See https://github.com/OBOFoundry/OBOFoundry.github.io/issues/1246 for discussion

Related to:
https://github.com/OBOFoundry/OBOFoundry.github.io/issues/1352

[2022-01-28 15:03] dosumis opened #92 "Incorporate & update generic OBO editor docs from odk/docs"
These should live under

HowToGuides/obo_editor_docs:

CreateNewTerm.md
DeletingAssertedSubClasses.md
MergeTerms.md
NewSlim.md
NewSlimTerm.md
ObsoleteTerm.md
Synonyms.md
TaxonRestriction.md
TermComments.md

We need to link these to theory/reference docs.

[2022-01-28 15:06] matentzn commented on #92
Some of these should go under reference.

[2022-01-28 15:08] dosumis opened #93 "Integrate reference docs from https://github.com/OBOFoundry/obo-patterns.github.io/tree/master/docs/key-topics"
The should go under Reference and be linked to/from any relevant HowTo.

[2022-01-28 15:09] matentzn commented on #92
Also gut the ODK repo stuff:

https://github.com/INCATools/ontology-development-kit/blob/master/docs

I.e. the goal is to get rid of it in favour of obook.

[2022-01-28 15:15] dosumis opened #94 "Add role-based getting started pages."
These should be brief and include a ordered set of links with brief descriptive text covering topics for each of the roles described here:
https://oboacademy.github.io/obook/getting_started/#the-different-roles-of-obo-semantic-engineering

[2022-01-28 15:17] matentzn commented on #94
Super cool, yeah, I would suggest separate "pathway" pages for each role, linked from the general getting started page!

@shawntanzk ping brad perhaps to help with a

[2022-01-28 15:22] shawntanzk opened #95 "gather ALL.THE.RESOURCES!"
use this spreadsheet to gather resources that can be used in documentations:
https://docs.google.com/spreadsheets/d/1KPhLQx_sWjeo5Vn7gvwElVWqbiYCGSRDnBEngNUGb5g/edit#gid=0

This will allow us to reuse instead of trying to build from start

[2022-01-28 15:29] shawntanzk commented on #94
pinging @bvarner-ebi

[2022-01-28 15:30] matentzn commented on #92
Also while you are at it, gut the ODK docs and delete them slowly slowly.

[2022-01-28 15:46] shawntanzk commented on #92
Will start working on this branch: https://github.com/OBOAcademy/obook/tree/migration-from-odk-docs
Currently just moved the above there, have not done any sorting and linking etc.
Just dropping this link here in case anyone wants to simultaneously work

[2022-01-28 16:09] jamesaoverton commented on #95
Can we make this sheet publicly viewable or commentable?

[2022-01-28 17:27] shawntanzk commented on #95
its publicly editable now

[2022-01-31 09:33] dosumis commented on #92
I would like the editor relevant docs to be grouped in some way.  Basically, I'm thinking of everything that an editor would need whilst working in Protege  - maybe with the addition of how to add a foreign term not yet in imports. I think it is potentially confusing and intimidating to new editors for these to be mixed in with more technical docs(pipline docs, guides to ROBOT, SPARQL etc.).  I gu

[2022-01-31 09:39] shawntanzk commented on #92
@dosumis my understanding of the plan is to put everything in one of these 4 docs categories, then have "pathways" with links for each roles (editors, pipeline developers, etc.) that gather what is needed in the end in a structured way.

[2022-01-31 09:40] shawntanzk commented on #92
personally would prefer the above suggestion of linking by roles through a documents with links than to do it in the index structure

[2022-01-31 11:27] matentzn opened #97 "Distinguishing courses, lessons, tutorials and pathways"
We are about to introduce a new concept to obook called `pathways`. The idea is that we provide a linear guide for all 6 roles mentioned on the getting started page through the materials. This will help us also complete the materials and provide a good path to reviewing them regularly.

# Tutorial

A step-by-step guide to complete a well-defined mini-project. Examples: ROBOT template tutorial. DOS

[2022-01-31 11:31] matentzn opened #98 "Add lesson on Command Line for OBO Engineers"
I have been very excited to see this free book:

https://datascienceatthecommandline.com/2e/index.html

This is something I want to draft soon, not just to teach it, but also to collect the very best best practices from @jamesaoverton, @cmungall and me.

- Amazing hacks for .zshrc or .bash_profile
- The most essential tools and how to use them

[2022-01-31 12:57] matentzn commented on #92
Let's try both!

[2022-01-31 13:40] matentzn opened #99 "Filenames: snake, camel, kebap or pascal"
This may have consequences everywhere, so lets take a vote on [cases in filenames](https://winnercrespo.com/naming-conventions/) in the obook (and by extension, all documentation) before it gets too chaotic:

- 👍 : This is PascalCase: RobotTutorial.md
- 👀 : This is camelCase: robotTutorial.md
- 🚀 : This is snake_case: robot_tutorial.md
- 🎉 : This is kebap-case: robot-tutorial.md

I personally favo

[2022-01-31 13:43] cthoyt commented on #99
I echo using snake case to create the least havoc during file name procesing

[2022-01-31 14:31] jamesaoverton commented on #98
I read the first edition of this book, and thought it was quite good. It inspired this old presentation on why the command-line is still a good tool to learn: https://github.com/jamesaoverton/command-line

[2022-01-31 15:42] matentzn commented on #98
Did you close this because you prefer to use your own Repo for adding this tutorial? I would still like to add it :D

[2022-01-31 16:25] cmungall commented on #99
kebab for filenames and URLs

From

https://compositecode.blog/2020/11/27/name-casing-conventions

_Kebab case is excellent for filenames, URIs, or something of that sort where spacing between the words of a file or path are important to read, but an underscore would be obfuscated by the font rendering such as with a URI._

How about just existing an existing style guide wholesale, including conve

[2022-01-31 16:27] cmungall commented on #99
beware if you mix whitespace and snake case you get whitesnake case 🎸 🤘

[2022-01-31 16:51] shawntanzk opened #100 "Integrate Chris Mungall's Github intro"
see: https://docs.google.com/presentation/d/1xiALnyqKJ_cAF0hmR99v1FdQ-CC7WW33/edit#slide=id.gb4c63b0a22_0_0

[2022-01-31 16:59] matentzn commented on #99
I am happy with adopting a style guide such as the one by Google you shared @cmungall

Are there any arguments _against_ kebap case? Just so we can have a more informed vote..

[2022-01-31 17:28] matentzn opened #101 "Change theme to material 2"
see https://linkml.io/linkml-datalog/

Note we need to figure out autodeployment if we do

[2022-01-31 18:33] cthoyt commented on #99
Yeah actually I change my mind after what chris wrote

[2022-01-31 20:28] jamesaoverton commented on #99
I like kebab case for filenames and URLs.

I guess I like kebab in general. But most programming languages use "-" for arithmetic, so you need to switch to underscores when files intersect with language symbols: e.g. Python packaging tools convert hyphens to underscores. Clojure lets you use kebab everywhere -- one more reason why it's the best! :smile:

[2022-02-01 09:57] matentzn commented on #98
I will re-open as I have some things I want to add in response to this ticket :P We can discuss later today!

[2022-02-01 13:53] jamesaoverton commented on #98
Sorry, I didn’t mean to close the issue.

[2022-02-07 16:49] shawntanzk opened #103 "Mappings and SSSOMs"
Would be great to have a tutorial/explainer/intro etc. to mappings and SSSOMs
Would like a session on oboacademy, but do recognise that it might be a bit specialised.
Docs would be good too :)

Thanks

[2022-02-08 10:00] shawntanzk opened #104 "Implementing custom checks for ontologies CI"
Would like a tutorial on how to use something like how to implement custom SPARQL (or python I guess) checks for CI

[2022-02-09 01:06] cmungall commented on #100
@nlharris is to credit!

[2022-02-10 19:25] jamesaoverton opened #105 "Problems with Markdown renderer"
Whatever Markdown render is being used to build the website make a terrible mess of this one: <https://oboacademy.github.io/obook/tutorial/linking-data/>. The Markdown looks right to me, but the renderer doesn't like fenced code blocks with a `#` at the start of the fence. I guess these could be removed from the file, but it's annoying that the renderer doesn't handle them properly.

[2022-02-11 08:50] matentzn commented on #49
Mention @joeflack4 observation of FILTER vs VALUES speed.

[2022-02-11 10:10] matentzn commented on #105
I didnt know that comment syntax!

I looked around, but could not find another solution, so I removed these comments from the tutorial.

Looks good now: https://oboacademy.github.io/obook/tutorial/linking-data/

[2022-02-11 16:15] matentzn commented on #99
Massive changed, moved everything to kebap case. Thanks all.

[2022-02-11 16:15] #99 closed

[2022-02-11 16:16] matentzn commented on #31
https://oboacademy.github.io/obook/lesson/ontology-pipelines/

[2022-02-11 16:16] #31 closed, assigned to nobody

[2022-02-11 19:35] cmungall opened #109 "Add a subset guide"
**Tutorial Request:**

Ontology subsets

**Suggested materials**

I am writing a doc that is full of relevant links

https://docs.google.com/document/d/15DJ-ALwAI5INOrT1tb_TgXIUbAvNsK6K0_s9P6D73ss/edit#

I suggest we work together on this doc, publish it as a standalone, e.g. on zenodo, then link/incorporate into obook

**Your nano-attribution (ORCID)**

[2022-02-13 17:30] dosumis opened #110 "Suggested edits to ontology-curator-go-style.md"
The new editor pathway material is a good start but is quite jumbled.  The first doc on the pathway is a a pretty big involved tutorial and should be marked as such.  It's not a great document for reference, but could be mined for material that is.

I suggest explicitly structuring the doc as an editor's manual suggest and separating out ontology editing from pipeline/workflow and GitHub issues. O

[2022-02-15 09:44] shawntanzk commented on #110
A few questions:
1) should relations get taught above editing? I remember @dosumis going through that with me very early on
2) should curators handle import management and templates?

Here's my strategy for getting to the above:
I'll create a draft PR with the above headers in the pathway, and we can start creating documents and merging them into main (without linking for now). On each PR I'll add

[2022-02-15 09:55] #100 closed

[2022-02-15 09:56] shawntanzk commented on #94
Currently pathways merged in - needs edits, but will close this for now - edits should be made as more specific requests

[2022-02-15 09:56] #94 closed

[2022-02-15 10:23] shawntanzk commented on #92
Migration completed, any further issues should be made in individual tickets/PRs

[2022-02-15 10:23] #92 closed

[2022-02-17 10:43] noelmcloughlin commented on #99
The main problem with kebap case is  `-` can and is interpreted as minus sign in various tools and programming languages. For example python/Jinja2 interpret   `{{ my-variable | tojson }}` as subtraction, then, filter operation. So in YAML I avoid kebap case since I never know if some other tool will be layered on the YAML and deduce its subtraction.

[2022-02-17 11:01] matentzn commented on #99
Good point @noelmcloughlin! I think for files names this should still be ok though, as these will never be spelled out in a jinja template, or at least in no situation I can think off. Good pint nonetheless!

[2022-02-21 15:02] shawntanzk opened #113 "Tutorial/documentation for application ontology"
Requested by the ontologist in Allen institute
There currently is this template that needs to be filled in:
https://oboacademy.github.io/obook/lesson/application-ontology-development/

[2022-02-21 19:31] matentzn commented on #97
@beckyjackson @dosumis do you think the proposal makes sense?

[2022-02-21 19:32] beckyjackson commented on #97
This is a great idea! 100% approve.

[2022-02-22 07:21] matentzn commented on #98
Add Sam's introduction to command line:

https://www.youtube.com/watch?v=sqN0bFWrS6Q

[2022-02-22 13:24] shawntanzk opened #114 "DL query tutorial"
Putting this ticket out to see if anyone has a good tutorial/how-to/reference for DL queries (rather not reinvent the wheel and all)
Tagging people who might have one/might know where to find one (please help me tag others if you think they might too).
@dosumis @cmungall @matentzn @nicolevasilevsky @sabrinatoro

[2022-02-22 15:56] nicolevasilevsky commented on #114
@shawntanzk this was adapted from a tutorial that was originally created by Chris and some others:
https://ontology101tutorial.readthedocs.io/en/latest/DL_QueryTab.html

[2022-02-22 15:57] shawntanzk commented on #114
yesss! that looks perfect! thanks so much @nicolevasilevsky :D

[2022-02-22 15:59] nicolevasilevsky commented on #114
can we make sure we properly acknowledge the original creators: Nicole Vasilevsky, Melissa Haendel, Chris Mungall, David Osumi-Sutherland, Matt Yoder, Carlo Torniai, and Simon Jupp
thanks! :)

[2022-02-22 15:59] shawntanzk commented on #114
defs! I was going to link back to the page, but will also add the creators names :)

[2022-02-22 18:22] matentzn commented on #49
This is done https://oboacademy.github.io/obook/tutorial/sparql/ and scattered across a few linked pages

[2022-02-22 18:22] #49 closed

[2022-02-24 16:36] shawntanzk opened #117 "iconv error or how to find position"
people like me who are bad with cmd line stuff need a quick reference on how to find position errors like: `iconv: illegal input sequence at position 12175012` not 100% sure where this goes, and im almost sure I'm not doing the efficient way, but here's what I do:

1) In terminal, `dd if=uberon-edit.obo of=error.txt bs=1 count=100 skip=12175012` where uberon-edit.obo is the file causing the error,

[2022-02-24 17:41] #114 closed

[2022-02-24 17:42] #110 closed

[2022-02-24 17:53] matentzn commented on #117
Seperate md file, parallel to https://oboacademy.github.io/obook/howto/filter-text-file/

[2022-02-25 10:50] matentzn commented on #83
This is now covered here https://oboacademy.github.io/obook/tutorial/dosdp-odk/

[2022-02-25 10:50] #83 closed

[2022-02-25 13:05] S2Ola opened #123 "How to create a new ontology from scratch with data or metadata"
**Tutorial Request:**

I am interested in learning how ontologies are created from data, ,as I see many tutorial starting off with one or more ontologies at the start of ontology creation.  I am faced with such problem as having just a list of controlled vocabularies and terminologies, how do / should I create an ontology from such data and metadata if there are no existing ontologies in the domai

[2022-02-25 13:19] matentzn commented on #123
Thank you @S2Ola

We just changed our system for requesting tutorials, can you copy your request here https://github.com/OBOAcademy/obook/discussions and close this issue please?

[2022-02-25 13:54] S2Ola commented on #123
Thank you @matentzn  closed!

[2022-02-25 13:54] #123 closed

[2022-02-28 09:46] shawntanzk opened #130 "Reference document on standard annotations used in OBO ontologies"
Have made a start here:
https://docs.google.com/spreadsheets/d/149Go0rGKiDbtZSMgazV1R9Ld9ViUinkO7cynTND7sDg/edit#gid=0
Happy for comments/feedback (esp in terms of structure)

[2022-02-28 10:05] matentzn commented on #130
You are treading a fine line here between descriptive (which is good) and pre-scriptive (which does not belong in obook - it belongs in https://github.com/information-artifact-ontology/ontology-metadata/issues).

Its good to work on this though - IMO the _actual_ properties to be used, i.e. the actual recommendation, should be carefully embedded as "Best practice" in the "GO-style curator pathway"

[2022-02-28 10:13] shawntanzk commented on #130
Think we talked a little about this last meeting @dosumis.

The intention was for that pathway, and in my mindset, really prescriptive for that set, but totally understand why it can't be in obook as is. Wondering if we could have it as a "hidden" document that only appears as a reference in the GO-style curator pathway?

[2022-02-28 10:18] matentzn commented on #130
No need to hide it if it is clearly labelled as such. It reflects, after all, best practice for a large sub-community of OBO. Documenting that is part of the OBOOK agenda. Just name the file:

go-style-annotation-property-practice.md

And add a headline:

[code]

[2022-02-28 10:19] matentzn commented on #130
The reason why I say, "does not belong in obook" is not because it is best practice, but because there are some debates here that will likely change these recommendations soon, and these debates should not be had here in OBOOK, but as part of OMO.

[2022-02-28 10:22] dosumis commented on #130
Most of this is just documenting the standards that come from OBO format.  Almost every ontology with roots in OBO format follows the basic pattern of AP axioms - with some small divergences. So, much broader than GO/CL/Uberon/PATO.  Agree this needs to evolve, but ideally in co-ordinated fashion.

[2022-02-28 10:25] matentzn commented on #130
Yes.. This is what I hoped my main reason for being engaged in OBO was going to be :P Coordinating the harmonisation of these APs. But it is some difficult process.

[2022-03-03 13:40] shawntanzk commented on #130
Fixed here https://github.com/OBOAcademy/obook/pull/131
Closing this ticket, but if there needs to be additions or change, please open a new ticket

[2022-03-03 13:40] #130 closed

[2022-03-08 15:25] bvarner-ebi opened #137 "Update fixing-conflicts.md"
Update the general instructions in fixing-conflicts.md for managing merge conflicts.

Instructions specific to managing merge conflicts for CL were updated through PR: https://github.com/obophenotype/cell-ontology/pull/1483.

[2022-03-08 16:59] shawntanzk opened #138 "Fix documentation for obsoletion and merge"
@matentzn - took down notes on stuff to add for docs (note: some of these might be in already, just based off my memory for now as I cant multitask too much >.<)
Things that came out from monarch training that should be added to docs:

- [x] Merge: add alt_id (not sure if we want to standardize this? it will stop anything going wrong with GO)
- [x] add github link to rdfs:seeAlso
- [x] has_obsolen

[2022-03-08 23:58] cmungall opened #140 "Add something to ID ranges doc best best practice when entering terms via template"
Should people have 2 ID ranges, one for Protege, another for template based additions?

If a single ID range is used this increases the risk of clashing (Protege auto-allocates IDs used in an external TSV that is not yet compiled and imported)

Also some specific notes about PRs might be useful (how to guard against clashes when working on parallel PRs)

[2022-03-09 09:03] matentzn commented on #138
Yes @shawntanzk this precisely reflects what I think should be documented.

This is also another source of interesting stuff:
- https://mondo.readthedocs.io/en/latest/developer-guide/repair-obsoleted-classes/
- https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/

[2022-03-09 09:29] shawntanzk commented on #138
Note to self:
add stuff on https://robot.obolibrary.org/repair

[2022-03-10 10:32] #137 closed

[2022-03-10 16:07] chrisroederucdenver opened #143 "README.md links to getting_started, not getting-started"
Following the link to github.io from the README.md in github.com looks really odd. Changing it as in the title seems to work.

[2022-03-21 15:05] shawntanzk opened #149 "documentation on how to upgrade repo"
This can be linked to warning that will be created from https://gist.github.com/byrnedo/9b2078c191360c681f85cebb2187d66f
This should include what to check when updating repo too

[2022-03-23 21:10] sabrinatoro opened #152 "tutorial/documentation on creating on a new annotation property"
A working document is available here: https://docs.google.com/document/d/17DMFMjgOhEqWSvmetq_k0EUj_DVC9DXjhoqcuaD1Q9w/edit?usp=sharing

The key points that are not necessarily obvious are:
- the conventions one should use when creating a new annotation property (e.g. convention for the IRI)
- having to add the annotation "is_metadata_tag"  -  with  ‘true’ (added as literal) when creating a new ann

[2022-03-26 11:32] matentzn opened #155 "New Howto: Building an ontology-driven data portal"
**Tutorial Request:**

We want to add a basic guide for creating a ontology-based data portal. For now just a page with a link to @cmungall 10 rules for building a data portal

**Suggested materials**

https://docs.google.com/document/d/1906vUn0DD160zofo_CLT414_X2uqh0aoA7XmHKyIaR8/edit#heading=h.jc2xipy4nf5z

**Your nano-attribution (ORCID)**

[2022-03-31 09:01] matentzn opened #157 "Review Turing KG Teaching Material List"
https://github.com/turing-knowledge-graphs/teaching/tree/main/city

[2022-04-04 23:22] cmungall opened #160 "consider a different example for disjointness tutorial"
https://oboacademy.github.io/obook/tutorial/disjointness/

when we wrote this originally ten years ago it was part of the whole GO tutorial which used the "X vs X-part" distinction throughout. The whole notion of having an X-part term in an ontology is the kind of thing that makes more sense to an ontologists than a biologist and may introduce conceptual obstacles that get in the way of the core m

[2022-04-05 15:27] matentzn commented on #152
- create a document `docs/howto/add-annotation-property.md`
- create a nice guide based on your docs
- Fold in the metadata recommendations from the OMO workshop

[2022-04-14 12:51] bvarner-ebi commented on #82
We could loop this into https://github.com/OBOAcademy/obook/pull/156.

[2022-04-22 10:30] matentzn opened #165 "Add link to SPARQL tutorials"
https://www.slideshare.net/thomasfrancart/sparql-introduction-and-training-130-slides-with-exercices

[2022-04-28 15:05] matentzn opened #168 "Document competencies required for each role and document them"
cc @nicolevasilevsky

[2022-05-27 22:26] cmungall commented on #113
@hrshdhgd and @caufieldjh can help with this as they are both building application ontologies (bero and phenio)

This may be a specific category of application ontology, with various characteristics that deserve dedicated documentation:

- no templates
- no editing of a src file in Protege
- ontology is purely a merge of interlocking baseplus modules driven by a configuration
- ontology may have s

[2022-05-28 06:18] matentzn commented on #113
I am working on it - there is a tutorial planned in the Monarch OBO training in 3 weeks about this, plus we need it for the ICBO tutorial. I made some headway in my mind, but I am struggling slightly with how to concretely implement

- glue:
    - adding additional **inter** ontology links (robot template)
    - adding additional **intra** ontology links (sssom)
- tear:
    - removing **intra** on

[2022-06-01 16:55] nicolevasilevsky opened #176 "need how to guide: Import external terms"
https://mondo.readthedocs.io/en/latest/editors-guide/import-terms-for-logical-axioms/

Need to add a general guide to the OBO Academy docs

[2022-06-10 18:35] paulacalipho opened #181 "Broken link to Appendix"
On the following page the link to "Appendix" on line 69 is broken
**Page**: https://github.com/OBOAcademy/obook/blob/master/docs/lesson/contributing-to-obo-ontologies.md
**Broken link**: https://github.com/OBOAcademy/obook/blob/master/04-OntologyTheory/appendix.md

[2022-06-11 11:49] #181 closed

[2022-06-11 11:49] matentzn commented on #181
Thank you :) Should be fixed now!

[2022-06-13 06:16] paulacalipho commented on #181
Thanks for taking care.
The link to "Appendix":
works from the page: https://github.com/OBOAcademy/obook/blob/master/docs/lesson/contributing-to-obo-ontologies.md
but does not work from the page https://oboacademy.github.io/obook/lesson/contributing-to-obo-ontologies/#branch

[2022-06-13 07:24] paulacalipho commented on #53
In https://oboacademy.github.io/obook/lesson/contributing-to-obo-ontologies/#branch
the link to **Install ELK 0.5** (https://github.com/OBOAcademy/obook/blob/master/docs/howto/installing_elk_in_protege.md) does not work.
Sorry if is not the right place to report this issue

[2022-06-13 09:01] matentzn commented on #181
Are you sure? it works for me! Maybe refresh the page in the browser?

[2022-06-13 09:04] paulacalipho commented on #181
I open a new private window and it works. Thanks and sorry

[2022-06-13 09:09] matentzn commented on #53
Excellent, thank you @paulacalipho! We really appreciate your feedback. I have fixed the link! In 10 minutes it should be live on the site :)

[2022-06-13 09:48] paulacalipho commented on #53
Many thanks, link works

[2022-06-16 10:02] matentzn opened #187 "Create seperate document to write a good term request"
Right now, guidelines for writing good term requests are buried here:

https://oboacademy.github.io/obook/lesson/ontology-term-use/#7-making-term-requests-to-existing-ontologies

I think we should have a separate guide for making a great term request. Any volunteers?

[2022-06-16 14:38] nicolevasilevsky commented on #187
I can do it!

[2022-06-16 15:22] matentzn opened #188 "Make Google find OBOOK pages"
see https://stackoverflow.com/questions/49073043/get-github-pages-site-found-in-google-search-results

[2022-06-17 03:51] nicolevasilevsky commented on #187
done

[2022-06-17 08:22] matentzn opened #189 "Please improve the pull request instructions"
This needs to be really improved: https://github.com/OBOAcademy/obook/blob/master/docs/howto/github-create-pull-request.md

The goal is to collect best practices to write a pull request in general (irrespective of the change).

# Technical
1. Switch branch
2. push to branch (update from master?)

# Practice
1. All pull requests must have an associated issue
1. Give a very descriptive title
1. Writ

[2022-06-17 13:47] matentzn commented on #189
Some other notes to get inspired from @cthoyt : https://github.com/cthoyt/cookiecutter-snekpack/blob/main/%7B%7Bcookiecutter.package_name%7D%7D/.github/CONTRIBUTING.md

Its focused on software but maybe some useful bits that apply to ontologies

[2022-06-17 14:11] cthoyt commented on #189
See also the Bioregistry's contribution guidelines. Lots of effort went into that describing who can make contributions, how, etc. and it's more focused on content contribution (both in the form of code and suggestions)

https://github.com/biopragmatics/bioregistry/blob/main/docs/CONTRIBUTING.md

[2022-06-17 14:18] matentzn commented on #189
Beautiful one, yes, lets use this to forge our own! Thank you!

[2022-06-17 22:36] nicolevasilevsky commented on #189
All pull requests must have an associated issue
Give a very descriptive title
Write a great summary of what the change is, referring to the issue. The sentence should clearly state how the issue is addressed

I made some edits to address these changes ⬆️ : https://github.com/OBOAcademy/obook/blob/master/docs/howto/github-create-pull-request.md

[2022-06-18 12:54] matentzn commented on #189
Nice. Can we add a bit of fluff to the beginning to say what a pull request is, why we need it and how to switch to a branch?

[2022-06-19 19:29] matentzn commented on #187
I will reopen this with a few requests for changes:

- move this "lesson" to howto (lesson is not diataxis and should be reserved for very macroscopic units of teaching)
- Revise the content carefully to be 100% general (no Mondo specific stuff like OMIM)
- Add a more clear guide on what to do **before** requesting a term and add that earlier in the text. This text we have now is too short and har

[2022-06-24 09:13] bvarner-ebi opened #191 "Please add details on "mirrors" as they relate to refreshing imports"
As briefly discussed in https://github.com/obophenotype/cell-ontology/pull/1644, I am requesting a section on "mirrors" to be added or linked to the [Update Imports Workflow](https://oboacademy.github.io/obook/howto/update-import/#Refresh-imports) page.

A novice editor may benefit in the following:

- Knowing what a "mirror" is
- How a mirror relates to ontologies and imports
- Guidance on how to

[2022-06-29 14:57] ValWood opened #197 "Provide a list of things we should have in our OBO set-up"
Is there a list of things we should have in our Protege  set-up?

OBO plugin
Elk plug-in.
Anything else?

[2022-06-29 15:02] matentzn commented on #197
@bvarner-ebi this is a quite important page to add to the curator pathway:

"Assembling the Ontology Curator Toolkit: essential tools to install before getting started"

Would you be able to create such a page? You are the freshest with having been through that process! :)

[2022-06-30 15:37] matentzn commented on #197
@ValWood can you review the two pages @bvarner-ebi and see if they make you happy?

[2022-06-30 15:45] ValWood commented on #197
Only missing that the obo plug-in (required to  get the correct  obsoletion  workflow  IIRC?)

[2022-07-01 08:05] bvarner-ebi commented on #197
@ValWood, I don't recall installing an OBO plug-in and have obsoleted terms before. Do you have a link to this plug-in I can review?

[2022-07-06 00:08] #187 closed

[2022-07-13 07:47] ValWood commented on #197
@manulera

[2022-07-13 08:29] manulera commented on #197
@ValWood This is the comment that mentioned it:

https://github.com/pombase/fypo/issues/4151#issuecomment-1164080558

[2022-07-13 19:18] joeflack4 opened #203 "Annotation properties: add examples"
## Summary
This page on [annotation properties](https://oboacademy.github.io/obook/explanation/annotation-properties/) is helpful. Even with this, though, I still found it difficult to understand the difference between object and annotation properties. I was wondering if we could add some example code snippets in RDF `.ttl` and/or `.owl`?

I looked for some examples, but I don't think I found any

[2022-07-13 19:18] joeflack4 commented on #203
@matentzn FYI

[2022-07-14 11:33] manulera commented on #197
Hi @ValWood so the plugin for the obsoletion is `OBO annotations editor`. You can install it in `File > Check for plugins...`

[2022-07-14 11:55] matentzn commented on #197
I think there are a few wires crossed in the thread here.

@nicolevasilevsky can you figure out if it is necessary to install this plugin to obsolete a term or not? If the answer is no, then we should figure out why @manulera had to install it to get the option to show up in his protege. This will then determine what we need to add to the OBOOK guide.

[2022-07-14 12:13] manulera opened #206 "Changes from xsd:string after switching from obo to owl format"
Hi @matentzn following the comment below

https://github.com/pombase/fypo/issues/4180#issuecomment-1171151308

I have switched to storing the ontology we edit in owl format. When I make some changes indeed the git diff is much more manageable, so thanks for that.

I noticed that in the git diff some annotations have changed (`^^xsd:string` is removed from the target of `oboInOwl#hasDbXref`). Is th

[2022-07-14 13:58] shawntanzk opened #207 "Clarify how to create branch in obook"
https://oboacademy.github.io/obook/howto/github-create-pull-request/
Needs to be clearer - new comers find it hard to handle

[2022-07-14 14:25] manulera commented on #206
Hello,

It seems that the recipe is missing from the odk image that my run.sh uses. Error:

[code]

Should I run the code below? Also in that answer

[code]

[2022-07-14 14:29] matentzn commented on #206
yes, sorry, this is not part of ODK.. This is a custom baked solution.. Can you try the "manual" non-ODK versions?

[2022-07-14 16:25] manulera commented on #206
Solved for FYPO in https://github.com/pombase/fypo/pull/4191

[2022-07-14 16:25] #206 closed

[2022-07-14 21:58] joeflack4 commented on #203
Both!

I was saying that after reading the article, I was still a bit confused. But after our meeting yesterday, I was less confused.

[2022-07-20 10:12] shawntanzk opened #210 "Glossary of Terms"
I think something that we should have is a glossary of terms that people can refer to easily
Please contribute to things we should define: (currently not ordered but this defs should be order alphabetically or something)
Also I know this is gonna be a lot of fighting on what accurate definitions are, so I apologise for any insane arguments that happen through this lol >.< Probably also best to hav

[2022-07-20 14:43] nicolevasilevsky commented on #210
I think it's a great idea to have a glossary for OBO Academy. I think a vocabulary specifically for OBO Academy would be best, as we may want to include terms that aren't relevant to OAK.

Could we just copy and paste what is in OAK into OBO Academy and extend it?

@shawntanzk I like the idea of a disclaimer too :)

@shawntanzk, I would be happy to help too.

[2022-07-20 15:03] matentzn commented on #189
@nicolevasilevsky

Your lesson looks very nice, thanks!! Looking forward to seeing it.

I would like to see two things a bit more detailed:

1. How to write really good pill requests in general, i.e. what kind of information to include in the description (good summary, link to the issue, motivation for the chosen solution), how to write a great descriptive title.
2. How to properly deal with revie

[2022-07-20 15:06] matentzn commented on #210
I am not worried about duplication and its fine to have two glossaries. I agree we need one here, for sure

[2022-07-20 15:24] nicolevasilevsky commented on #189
will do! thanks for the feedback :)

[2022-07-20 16:08] shawntanzk commented on #210
Sounds good! Will make a start on it soon (I say soon, but I'm on holiday next week so... lol). @nicolevasilevsky I would love help :) I think starting with a copy and paste of whats in OAK is a good place (@cmungall - is it alright if we flagrantly plagiarise your document?)

[2022-07-20 16:41] cmungall commented on #210
And while I think separate voices are good, OAK-OBOOK consistency is important

One of my bugbears is one community to use a term like "ancestor" to mean one thing (e.g. OWL community => subClassOf ancestor) and another community to use it another thing (everyone else => ancestor = transitive closure of relation graph)

[2022-07-20 23:37] nicolevasilevsky commented on #189
@matentzn I tried to address all your feedback, let me know what you think:
https://oboacademy.github.io/obook/tutorial/pull-requests/
thanks!

[2022-07-21 14:29] ar-ibrahim opened #212 "obook [Installing ELK 0.5 Protege] issues"
https://oboacademy.github.io/obook/howto/installing-elk-in-protege/

* ELK Reasoner 0.5 was updated using Approach 2 (didn't seem to work using Approach 1).
* The video showing how to install Elk on a Mac has been deleted.

[2022-07-21 15:56] nicolevasilevsky commented on #197
I double-checked and I indeed have the org.protege.oboeditor.jar plugin.

@manulera Could you please do a PR to add instructions to install this plugin? Thanks!

[2022-07-21 18:14] nicolevasilevsky commented on #212
thanks for reporting @ar-ibrahim. I'll try to locate the video or I'll record a new one

[2022-07-21 18:52] #212 closed

[2022-07-22 08:56] manulera commented on #197
Hi @nicolevasilevsky happy to do it, where should that go? In the obsoletion page, or in a separate page (installing obo plugin or something like that?) I did not see an "installing protege" or plugin tutorial.

https://oboacademy.github.io/obook/howto/obsolete-term/

[2022-07-22 09:45] matentzn commented on #197
I would advocate a new  "set up protege" page which outlines the whole process, i.e. downloading protege, installekn ELK, installing obo editors and potentially change the memory. thank link it from https://oboacademy.github.io/obook/pathways/ontology-curator-go-style/

[2022-07-22 10:08] matentzn commented on #210
Maybe more general terms can migrate to the OBOOK glossary which is likely to have a much larger scope.. and the OAK glossary can focus on specific terms required to understand the data models and otherwise link to the OBOOK GLOSSARY?

[2022-07-22 15:45] nicolevasilevsky opened #220 "embedded iframe videos do not work with YouTube videos"
For example, if I add this to a file, it says that YouTube cannot connect (or something like that)

<iframe src="https://www.youtube.com/watch?v=kE_50AzpuB8" width="640" height="480" allow="autoplay"></iframe>

[2022-07-22 16:02] matentzn commented on #220
[code]

<iframe width="560" height="315" src="https://www.youtube.com/embed/kE_50AzpuB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

If you are on the video, click on Share, then "embed" then copy.

[2022-07-22 16:21] nicolevasilevsky commented on #220
thanks @matentzn, I'll try this

[2022-07-22 20:51] nicolevasilevsky commented on #220
it worked! yay!
https://oboacademy.github.io/obook/howto/switching-ontologies/

I love the way the embedded videos look.

[2022-07-22 20:51] #220 closed

[2022-07-25 23:44] nicolevasilevsky commented on #197
@manulera and @matentzn I created a page here:
https://oboacademy.github.io/obook/howto/set-up-protege/

@manulera could you please add the instructions about the obo plugin? thanks!

[2022-07-25 23:45] nicolevasilevsky commented on #197
@manulera could you include in the instructions:

to check for the plugin in your Protege, type the following in the terminal:
`~ % cd ~/.Protege `
`Protege % open .`

[2022-07-26 09:03] manulera commented on #197
Hi @nicolevasilevsky @matentzn I have added the section in this PR:

https://github.com/OBOAcademy/obook/pull/225

Regarding this:

I did not include it, since at least in my Protege installation, plugins might be in different places, and I wonder what the paths are in windows machines:

[code]

If the only purpose is to check the installed packages, this should do:

https://github.com/OBOAcademy/

[2022-07-26 14:49] nicolevasilevsky commented on #197
Ah, yes, that works- thanks @manulera!

[2022-07-26 15:01] manulera commented on #197
We can close then?

[2022-07-26 15:42] matentzn opened #226 "Add howto page on how to create screenshots (partial and full) and paste them into an issue"
[code]

[2022-07-26 16:06] emquardokus commented on #226
Windows 10 options for screenshots full or partial: https://support.microsoft.com/en-us/windows/use-snipping-tool-to-capture-screenshots-00246869-1843-655f-f220-97299b865f6b

[2022-07-26 16:29] nicolevasilevsky commented on #197
yes! thanks @manulera!

[2022-07-26 16:29] #197 closed

[2022-07-28 15:53] #226 closed

[2022-08-03 11:40] manulera opened #228 "Escaping characters"
I could add this to some page:

## Escaping `'` characters in logical definitions

When a GO term contains `'` in its name (e.g. `RNA-directed 5'-3' RNA polymerase activity`), when you enter it in the logical definition window (even if you auto-complete with tab), Protege won't let you accept because you have introduced extra quotes. You can escape them with `\`. As in Protegé 5.5, the `\` charact

[2022-08-03 11:41] manulera commented on #228
@matentzn

[2022-08-03 16:12] nicolevasilevsky commented on #228
That would be great @manulera. I just ran into that problem yesterday, actually!

[2022-08-04 08:09] manulera commented on #228
Where should this section go?

[2022-08-04 10:18] matentzn commented on #228
`reference/protege-tips.md`?

[2022-08-04 11:52] manulera commented on #228
I went for `protege-faw.md` like for git.

https://github.com/OBOAcademy/obook/pull/229

[2022-08-05 22:36] nlharris opened #232 "Weird-looking obook page is the evil twin of a real obook page"
https://oboacademy.github.io/obook/lesson/ontology_pipelines/ looks weird
The correct page is https://oboacademy.github.io/obook/lesson/ontology-pipelines/ but I got to the underscore mutant version from https://oboacademy.github.io/obook/reference/troublehooting-robot/  (which I notice has a typo in the URL, not that that really matters), which I got to by searching for ROBOT in the obook search.

[2022-08-05 22:40] nlharris commented on #232
You might want to consider running a link-checker on https://oboacademy.github.io/obook/!

[2022-08-09 17:53] cmungall opened #233 "Formatting of lists is broken in many places"
This may have been introduced when switching to material which is stricter about the various variants of markdown

To be sure always follow these rules:

- Use 4 spaces for list indentation
- Include an empty line separating previous text from start of list (this may only be required for numeric lists but there may be exceptions, best to just be consistent)

[2022-08-09 20:32] manulera opened #237 "GitHub actions for robot diff on release"
Hello,

From a conversation on Slack I got some info on how to implement github actions to automatically include `robot diff` as comment whenever a PR is made into master. I am implementing this for FYPO, and I would be happy to write a howto page in the site about it. Would this fit somewhere in the page?

[2022-08-09 21:02] nicolevasilevsky commented on #237
Sounds great @manulera.
Could you just create a new page under docs/howto

Could you also update mkdocs.yml so the new page shows up in the left hand nav bar.

Let me know if I can help with anything.

Thanks!

[2022-08-10 00:47] nicolevasilevsky commented on #138
@shawntanzk what do you mean by this?
describing owl:axiom stuff that gets added with owl tools

Is it this?
https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/#merge-using-owltools

I don't know if this would work for other ontologies, or if something needs to be set up to use owltools in this way. @shawntanzk or @matentzn do either of you know? It's pretty handy. :)

[2022-08-10 00:47] nicolevasilevsky commented on #138
do we want the official obsoletion documentation to recommend using seeAlso or [IAO:0000233](http://purl.obolibrary.org/obo/IAO_0000233) term tracker?
@cmungall @balhoff @matentzn

[2022-08-10 07:15] shawntanzk commented on #138
https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/#merge-using-owltools

yes :) I don't use that method so would need help with that. owltools should be packaged with ODK so I think it is safe for ODK ontologies.

I think using seeAlso pointing to github ticket is a good idea :)

I added that part so people using the wizard will also add ticket link no matter what, but ha

[2022-08-10 07:49] #233 closed

[2022-08-10 09:50] matentzn commented on #138
[IAO:0000233](http://purl.obolibrary.org/obo/IAO_0000233) should be used universally!

[2022-08-10 09:51] matentzn commented on #138
https://github.com/information-artifact-ontology/ontology-metadata/issues/102

[2022-08-10 15:52] #232 closed

[2022-08-15 21:00] nicolevasilevsky commented on #138
@shawntanzk do we need a separate ticket to package this owl tools merge command with ODK?

I think this ticket is otherwise done?

[2022-08-15 21:26] shawntanzk commented on #138
I think we can close this ticket, thanks so much for all your help.

I'm not sure how the best way to do this is, as technically what is written there makes sense - it just needs owltools to be installed. We can write it in ODK way, but I think that's also not right - it excludes ontologies that do not use ODK. Personally I think its ok to leave it as is but add a owltool prereq with a link?

[2022-08-15 21:39] nicolevasilevsky commented on #138
Ok, that makes sense.

It looks like we have a how to page on merging that includes using owl tools:
https://oboacademy.github.io/obook/howto/merge-terms/#merge-using-owltools

I am made a small revision to the merge doc to install docker, which has owltools:
https://github.com/OBOAcademy/obook/pull/243

[2022-08-16 20:24] nicolevasilevsky opened #247 "need how to guide to set up Protege on a PC"
**How to guide request**
how to set up Protege on a PC

We need a complementary page to this:
https://oboacademy.github.io/obook/howto/set-up-protege/#increase-memory-in-protege

[2022-08-17 19:57] nicolevasilevsky commented on #138
Closing - I think everything is done.

[2022-08-17 19:57] #138 closed

[2022-08-18 16:50] nicolevasilevsky opened #249 "How to guide: How to revert a commit"
**Tutorial Request:**
How to guide: How to revert a PR

These are the instructions:

1. create new branch in GH desktop (very important!)
2. go to History
3. Find commit you want to revert
4. right click -> revert commit
5. if there are conflicts, fix them
6. commit branch and create PR

[2022-08-19 19:16] nicolevasilevsky opened #252 "fix broken links"
run a link checker (like https://www.deadlinkchecker.com/website-dead-link-checker.asp) to check for dead links and fix as needed

Here is a list of broken links:
https://docs.google.com/spreadsheets/d/1s-DFiOFRZxByikgKx8j0S4wOfB7ofLQxA4S1-WKR2X4/edit#gid=0

[2022-08-19 20:49] nicolevasilevsky commented on #228
@manulera can this be closed?

[2022-08-19 20:59] manulera commented on #228
Closed with https://github.com/OBOAcademy/obook/pull/229

[2022-08-19 20:59] #228 closed

[2022-08-26 10:16] matentzn opened #256 "Prettify markdown files"
@nicolevasilevsky we could reach out to @cthoyt to show us how to do what he did for OBO Foundry. This seems to standardise the representation of markdown. Just be careful that indentation continues to be four spaces, not two.

https://github.com/OBOFoundry/OBOFoundry.github.io/pull/2052/files

[2022-08-26 10:21] cthoyt commented on #256
No need to reach out, that PR explains where I left the docs :)

[2022-08-26 10:34] matentzn commented on #256
Let me rephrase: Try to run the following command after installing [`prettier`](https://prettier.io):

[code]

[2022-08-26 18:54] #237 closed

[2022-08-30 15:34] sabrinatoro opened #260 "Lesson about Taxon Constraints"
**Tutorial Request:**

It would be useful to have a lesson about taxon constraints: how they work (e.g 'in taxon' is an object property, versus 'present/never in taxon' is an annotation property), how they are used,...
Taxon constraint is something much more complicated than it looks and I think many curators do not appreciate this complexity.
Note: this tutorial might be for advanced students, an

[2022-09-02 15:26] megbalk opened #264 "EQ and SubClassOf"
**Tutorial Request:**
Rules around making logical definitions.

A brief description of what you would like to be taught.
Understanding when to make a logical definition that is an EQ statement or only use SubClassOf axioms.

**Suggested materials**

**Your nano-attribution (ORCID)**

[2022-09-02 15:31] nicolevasilevsky commented on #264
Good idea @megbalk, this would be very helpful

[2022-09-02 17:34] sabrinatoro opened #265 "Add more explanation about conflicts"
[This tutorial](https://oboacademy.github.io/obook/howto/fixing-conflicts/) explains how to resolve conflicts.
It would be nice to have a bit more information about where conflicts come from and why they appear.

[2022-09-06 16:02] cmungall opened #266 "Add FAQ entry on updating GitHub tokens"
Consider adding a link to the GO docs:

https://wiki.geneontology.org/Installing_and_Using_git#Updating_GitHub_token

Useful for people affected by:
https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/

But maybe no longer so relevant, if so, OK to close

[2022-09-08 15:36] matentzn commented on #264
Duplicate with https://github.com/OBOAcademy/obook/issues/32?

[2022-09-08 15:45] megbalk commented on #264
It sure is! Sorry about that.

[2022-09-08 15:45] #264 closed

[2022-09-08 16:27] #256 closed

[2022-09-19 19:14] matentzn opened #272 "Consider lightweight interactions with FAIR cookbook"
https://faircookbook.elixir-europe.org/search.html?q=data+dictionary

[2022-09-29 14:42] balhoff commented on #260
@sabrinatoro can you assign this to me? (I don't have permission). What type of article would this be? (tutorial, how-to, reference, explanation)

[2022-09-29 14:44] nicolevasilevsky commented on #260
I assigned you, I'll give you access to this repo too.

Maybe it would be best as an explanation?
Actually, looks like we have this:
https://oboacademy.github.io/obook/explanation/taxon-constraints-explainer/

You could expand on this?

cc @matentzn

[2022-09-29 15:39] sabrinatoro commented on #260
Thank you @balhoff (and @nicolevasilevsky )
When adding taxon constraints in Mondo, I expected that I could use these to assist in the classification (e.g. cat disease = diseases that are present in cats + diseases that are only on cats). My understanding is that "present in taxon" are annotations (when only in taxon could be subclass), but somehow the reasoner (though not in protege) is able to u

[2022-09-29 18:47] matentzn commented on #260
@sabrinatoro what you are describing here is very very specific and very serious question for QC (also wrt to @balhoff taxon constraint plugin for protege).. but this is a piece of unsorted SOP/tech, way too far in the weeds  for a general OBO academy tutorial IMO. I would say the tutorial should cover:

1. What are taxon constraints and what kinds of constraints are there
1. How do we curate taxo

[2022-09-29 19:54] nicolevasilevsky opened #279 "review open-kg-curriculum"
review open Knowledge graph curriculum (https://github.com/KGConf/open-kg-curriculum) and see if there are synergies with OBO Academy.

[2022-10-11 07:49] cmungall commented on #210
plagiarize all you want, don't worry about attribution or anything like
that, but rather than copypasta, consider each term individually and try
and speak with one obo academy voice, which may be different from the OAK
voice

it may also be tempting to copypaste from e.g. W3 docs but consider if this
is really doing our community a service, it's better to go for internal
cohesion and consistency (

[2022-10-24 15:41] shawntanzk opened #284 "Tutorial on Property Chains"
I realise im SUPER underknowledged (is that a word?) about property chains.
I've gone through a bit just from work, but I'm not confident to handle it myself.
Would be nice to have a tutorial on that -> conceptual, how its used, etc.

Thanks :)

[2022-11-01 16:33] nicolevasilevsky commented on #260
thanks @shawntanzk!

[2022-11-02 18:46] nicolevasilevsky opened #288 "Share 'ontology 101' slides for community reuse"
We have a lot of slides that have been circulated around our community for years, it would be lovely to have a consolidated resource for community members to access and reuse our slides for future presentations.

There is some content available at: https://obofoundry.org/resources

Nomi (@nlharris) suggested we create a page in OBOOK specifically for links to presentations, and then also add links

[2022-11-02 18:52] nlharris commented on #188
For example, it would be good if this query found the OBOOK:
https://www.google.com/search?q=introduction+to+biomedical+ontologies

[2022-11-02 19:04] jamesaoverton commented on #288
Just a couple of notes/thoughts:

- My slides linked above borrowed heavily from @dosumis <https://docs.google.com/presentation/d/11WeCHCeGYSPEO7hUYFTdPivptxX4ajj5pVHDm24j4JA/edit>, which was the basis for this OBOOK page <https://oboacademy.github.io/obook/explanation/intro-to-ontologies/>.
- While it's good to consolidate, I do always find myself adjusting slide decks for the specific audience.

[2022-11-02 19:08] nlharris commented on #143
This seems to be fixed

[2022-11-02 19:08] nlharris commented on #288
See also: https://docs.google.com/spreadsheets/d/1KPhLQx_sWjeo5Vn7gvwElVWqbiYCGSRDnBEngNUGb5g/edit#gid=0

[2022-11-02 19:10] nlharris commented on #63
Overlaps with #210

[2022-11-02 19:11] nlharris commented on #35
Subsumed by #52?

[2022-11-02 19:20] chrisroederucdenver commented on #143
verified

[2022-11-02 19:20] #143 closed

[2022-11-02 20:22] shawntanzk commented on #52
completed sufficiently - published https://oboacademy.github.io/obook/lesson/modelling-with-object-properties/

[2022-11-02 20:22] #52 closed

[2022-11-02 20:22] shawntanzk commented on #35
completed - published https://oboacademy.github.io/obook/lesson/modelling-with-object-properties/

[2022-11-02 20:22] #35 closed

[2022-11-15 10:56] matentzn opened #289 "Request How To Guide "Reviewing disease mappings for Biocurators and clinicians""
I would like to onboard new people more rapidly to large scale review efforts where a tool like OAK generates a bunch of mapping candidates, and a reviewer determines wether the mapping is good or not. It would be awesome if one of our prolific curators could create a simple how to with 10 or less steps to get started, using the alignment of two clinical terminologies as an example (OMIM and Mondo

[2022-11-17 01:24] nicolevasilevsky commented on #289
when would you need this? I can work on it, as long as there is not a tight turnaround

[2022-11-17 01:33] sabrinatoro commented on #289
I am happy to participate and put something together, but same question as
Nicole's: what is the timeline?

On Wed, Nov 16, 2022 at 5:24 PM Nicole Vasilevsky ***@***.***>
wrote:

[2022-11-17 07:57] matentzn commented on #289
No timeline, but @sabrinatoro we should build on your work here: https://github.com/mapping-commons/disease-mappings/issues/16

I would appreciate if you could provide a very crude 5 step process in this issue here that I can use to onboard a clinician for reviewing some mappings. It can be really really crude, just to get started, no more than 10 minutes work. Than we can iterate! We could even d

[2022-11-17 16:25] nicolevasilevsky commented on #189
talking to Nico, we can close this

[2022-11-17 16:25] #189 closed

[2022-11-18 08:21] #63 closed

[2022-11-18 08:21] #210 closed, assigned to shawntanzk

[2022-11-18 21:43] nicolevasilevsky opened #292 "Review OBO Academy lessons and fix typos, etc"
As part of the [OBO Academy hackathon](https://oboacademy.github.io/obook/lesson/hackathon/), we'd like to have folks review our existing lessons and make edits and fixes.

Lessons to review:
- [ ] Contributing to OBO ontologies: https://oboacademy.github.io/obook/lesson/contributing-to-obo-ontologies/
- [x] #303
- [ ] Project Ontology Development: https://oboacademy.github.io/obook/tutorial/proje

[2022-11-19 02:01] sabrinatoro commented on #284
@sierra-moxon, I think this is the lesson you were also requesting.
I think you can vote for this issue. (somewhere :-) )

[2022-11-28 19:30] nicolevasilevsky opened #295 "Need how to guide: how to redirect a purl to OLS instead of ontobee"
**Tutorial Request:**
how to guide on how to redirect a PURL to OLS instead of ontobee, for example

http://purl.obolibrary.org/obo/VBO_0011418 redirects to ontobee, it would be preferred if it redirected to OLS.

Does anyone know how to change the redirect?

[2022-11-29 11:28] matentzn commented on #295
Here is the tutorial @jamesaoverton wrote: https://github.com/OBOFoundry/purl.obolibrary.org#custom-term-browsers

I would kind of like to not duplicate that kind of very technical content in OBOOK. You can create a page with a link to the purl config documentation if you want, and make a PR on the PURL config documentation if something about it is unclear.

[2022-11-29 16:18] caufieldjh commented on #252
Working on this now - see https://github.com/caufieldjh/obook/tree/fix-links

[2022-11-29 16:23] turbomam commented on #247
I can work on this, but I can't add myself as an assignee

[2022-11-29 16:24] sagehrke opened #301 "Developing an OBO Ontology: https://oboacademy.github.io/obook/lesson/developing-an-obo-ontology/"
Reviewing content for typos and link errors.

[2022-11-29 16:28] anitacaron opened #303 "Ontology Pipelines with ROBOT: https://oboacademy.github.io/obook/lesson/ontology-pipelines/"

[2022-11-29 16:28] LCCarmody opened #304 "Disease and Phenotype Ontologies: https://oboacademy.github.io/obook/lesson/using-disease-and-phenotype-ontologies/"

[2022-11-29 16:30] katiermullen commented on #252
Working on this now.

[2022-11-29 16:45] matentzn opened #307 "Add a status indicator for lessons and tutorials"
Pages in OBOOK have a wide variety of quality. I would suggest adding a status flag under the lesson title that gives a sense of how mature a lesson actually is. I would suggest the following "maturity index"

<img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2FOBOAcademy%2Fobook%2Fmaster%2Fdocs%2Fresources%2Fobook-badge-construction.json" />
<img src="https://i

[2022-11-29 16:58] #301 closed

[2022-11-29 16:59] turbomam commented on #247
Will start taking notes here and then migrate to the obook markdown

- visit https://protege.stanford.edu/
- click orange **DOWNLOAD NOW** button
- click gray **Download for Windows** button on subsequent page
- register if desired, or skip registration
- find `Protege-<version>-win.zip`
  - most likely in your Downloads directory
  - current version is Protege-5.5.0-win.zip
- unzip the downloaded

[2022-11-29 17:01] yaseminbridges opened #315 "Ontology Fundamentals: https://oboacademy.github.io/obook/lesson/ontology-fundamentals/"

[2022-11-29 17:07] #249 closed

[2022-11-30 10:35] matentzn commented on #307
Done: https://oboacademy.github.io/obook/reference/obook-maturity-indicator/

[2022-11-30 10:35] #307 closed

[2022-11-30 10:39] shawntanzk commented on #307
This is awesome! such a good idea! thanks @matentzn :)

[2022-11-30 10:40] matentzn commented on #307
Thanks :)